.nav-header__list {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  padding: 15px 6px;
}

.nav-header__btn {
  width: 120px;
  margin: 0px 6px;
  background-color: var(--blue);
  text-align: center;
  line-height: 40px;
  list-style: none;
}

.nav-header__link {
  color: #61628d;
  text-decoration: none;
}

.nav-header__btn:hover {
  cursor: pointer;
}

.nav-header__btn {
  box-shadow: 3px 3px 5px grey;
}
