body,
html {
  position: static;
  width: 96%;
  height: 98%;
  margin: 1% 2% 1% 2%;
  padding: 0px;
  background-color: #a6c6b9;
}

.header {
  display: flex;
  justify-content: flex-end;
  background-color: white;
}

.header__list {
  width: 90px;
  height: 40px;
  margin: 10px;
  background-color: #8fbbc6;
  color: #61628d;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  list-style: none;
}

.header__list:hover {
  cursor: pointer;
}
ul > a > li {
  box-shadow: 3px 3px 5px grey;
}
