.aboutme section {
  height: 200px;
  margin: 30px 160px;
  text-align: left;
}

h1 {
  font-size: x-large;
  font-weight: 700;
  margin: 10px 0px;
}

p {
  padding-bottom: 5px;
  line-height: 150%;
}

a {
  text-decoration: none;
}
