.aboutme-content section {
  margin: 30px 160px;
  text-align: left;
}

.aboutme__content h1 {
  font-size: x-large;
  font-weight: 700;
  margin: 10px 0px;
}

.aboutme__content p {
  padding-bottom: 5px;
}

.aboutme__content a {
  text-decoration: none;
}
